@media(min-width: 1200px){
	h1{
	    font-size: 42pt;
	}
	h2{
		font-size: 40px;
	}
	h3{
		font-size: 36px;
	}

}
@media(min-width: 992px){
	h1{
	    font-size: 32pt;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 28px;
	}
}
@media(min-width: 768px){
	h4{
		font-size: 24px;	
	}
}
@media(max-width: 1200px){
	.slider_section#review{
    	-webkit-clip-path: polygon(0 6%, 100% 0, 100% 93%, 0 100%);
	    clip-path: polygon(0 6%, 100% 0, 100% 93%, 0 100%);
	}
	.navbar-nav a{
		font-size: 16px;
	}
	.navbar-brand img{
		max-width: 170px;
	}
}
@media(max-width: 991px){
	h1, h2,h3,h4{
		text-align: center;
	}
	h3{
		font-size: 20px;
	}
	h4{
		font-size: 18px;
	}
	.number_phone.row{
	    min-width: 200px;
	    width: 200px;
	    flex-wrap: nowrap;
	}
	.number_phone.row > .col-12{
		max-height: 30px;
		/*flex: 1 0 25px;*/
	}
	.navbar-brand{
		min-width: 150px;
		width: 150px;
	}
	.navbar{
		flex-direction: row;
		align-items: center;
	}
	.navbar-collapse.collapse.show{
	    position: absolute;
	    top: 95px;
	    background-color: #000000ad;
    	border-bottom: 2px solid #ADADAD;
	    width: 100%;
	    left: 0;
	}
	.nav-item{
	    padding-left: 20px;
	}
	.order .row:nth-of-type(2) > div,
	.order .row:nth-of-type(5) > div{
		margin-bottom: 30px;
	}
	.order .row:nth-of-type(2) > div:last-child,
	.order .row:nth-of-type(5) > div:last-child{
		margin-bottom: 0;
	}
	.section_form .row .col-md-6{
		margin-bottom: 30px;
	}
	.section_form .row .col-md-6:last-child{
		margin-bottom: 0;
	}
	.section_form .row .col-12 > img{
		margin-bottom: 15px;
	}
}
@media(max-width: 768px){
	.section_form .row:nth-of-type(4) > div img{
		max-width: 50px;
	}
	.section_form .row a{
		font-size: 18px;
	}
	.navbar-brand{
		display: none;
	}
	.before_header .row {
	    padding: 150px 15px;
	}
	.before_header{
	    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    	clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
	}
	.advantages .row .col-12 {
		text-align: center;
	}
	.row.accord {
	    margin-top: 40px;
	    margin-left: 0;
	    margin-right: 0;
	}
	.slider_section {
	    padding-bottom: 90px;
    	padding-top: 90px;
	    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
        clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
	}
	.order img{
		max-width: 100px;
	}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
		display: none;
	}
	.modal-body img{
	    max-width: 120px;
	    position: absolute;
	    top: -50px;
	}
	.modal-body{
    	padding: 70px 15px 30px;
	}
	.modal-dialog{
		min-width: 400px;
	}
}
@media(max-width: 992px) and (min-width: 576px){
	.order .row:nth-of-type(5) > div:last-child,
	.order .row:nth-of-type(5) > div:nth-of-type(3){
		margin-bottom: 0;
	}
}
@media(max-width: 576px){
	.navbar-brand img {
	    max-width: 160px;
	}
	.navbar-brand{
		margin-right: 0;
		text-align: center;
	}
	.header{
		height: 88px;
	}
	.navbar-collapse.collapse.show,
	.collapsing{
		top: 88px !important;
	}
	.order .row.price > div {
		flex-direction: column;
		align-items: center;
	}
	.order .row.price > div img{
		margin-bottom: 15px;
		margin-right: 0;
	}
}
@media(max-width: 435px){
	h1{
		font-size: 23px;
		margin-bottom: 50px;
	}
	h2{
		font-size: 21px;
	}
	h3{
		font-size: 18px;
	}
	h4{
		font-size: 16px;
	}
	.form-control{
		padding: 8px 20px;
	}
	.form-claim{
		padding: 0 20px 10px;
	}
	.modal-dialog{
		min-width: 320px;
	}
}
@media(max-width: 360px){
	h1{
		font-size: 20px;
	}
	h2{
		font-size: 18px;
	}
	h3{
		font-size: 16px;
	}
	h4{
		font-size: 15px;
	}
	.modal-dialog{
		min-width: 290px;
	}
}