font-family: 'Lobster', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Montserrat', sans-serif;

* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #C4C5C5;
}

::-webkit-scrollbar-thumb {
	border-radius: 16px;
	background-color: #222;
}

.clearfix:after, .clearfix:before {
	content: "";
	display: block;
	clear: both;
}

body {
	overflow: auto;
	font-family: 'Montserrat', arial;
}

.padding1 {
	padding-top: 1vw;
}

.page {
	height: 57vw;
	overflow: hidden;
}

.page_sm {
	height: 40vw;
	overflow: hidden;
}

.first_page {
	background: url(../images/img1.jpg) fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.second_page {
	background:  #D5D5D5;
}

.third_page {
	background: #535353;
	color: white;
}

.fourth_page {
	background: #AB987A;
}

.fifth_page {
	background: #22264b;
	color: white;
}

.video_page {
	background: #1a1a1d;
}

.logo {
	display: block;
	width: 20vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.logo_div {
	text-align: center;
	font-size: 5vw;
	color: black;
	font-family: arial;
	font-weight: bold;
	margin-top: 3vw;
	text-transform: uppercase;
}

.first_title {
	font-family: 'Lobster';
	color: #C09F80;
	font-size: 5.5vw;
	text-align: center;
	margin-top: 10vw;
}

.contact {
	height: 20vw;
	margin-top: 3vw;
}

.contact_title {
	font-size: 3vw;
}

.contact_list {
	font-family: 'Lobster';
	font-size: 3.1vw;
	list-style-type: none;
	color: black;
}

.contact_phone {
	margin: 1vw 0;
}

.contact_img {
	width: 4vw;
	height: auto;
}

.scroll_arrow {
	width: 10%;
	height: 15%;
}

/* SECOND PAGE*/

.second_title {
	font-family: 'Russo One';
	color: #76323F;
	font-size: 3vw;
	margin-top: 3vw;
}

.choise_model-title {
	font-size: 2.5vw;
	font-family: 'Lobster';
	margin: 2vw 0;
}

.choise_model-info h4 {
	margin: 1vw;
}

.choise_model-images {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content:space-between;
}

.choise_model-image {
	max-width: 50%;
	height: 8vw;
	margin: 0.6vw;
	cursor: pointer;
	opacity: 0.8;
}

.choise_model-image:hover {
	opacity: 1;
}

.choise_model-info {
	margin: 2vw 0;
}

.choise_model-info h4 {
	font-family: 'Russo One';
	font-size: 1.6vw;
}

.choise_model-info div {
	font-size: 1.3vw;
	line-height: 2.5vw;
	color: #555555;
	font-weight: bold;
}

/* THIRD PAGE */

.select_list {
	margin: 3vw 0;
}

.select_list * {
	padding: 0 0.4vw;
}

.select_title {
	font-size: 4vw;
	font-family: 'Russo One';
	margin: 2vw;
	text-align: center;
}

.select_list-title {
	font-size: 2vw;
	font-weight: bold;
	font-family: 'Lobster';
}

.select_list-desc {
	font-size: 1.5vw;
}

.select_img {
	width: 100%;
	height: auto;
}

/* FOURTH PAGE */

.fourth_title {
	font-family: 'Russo One';
	color: #76323F;
	font-size: 4vw;
	margin: 2vw 0;
}

.faq_answ {
	font-size: 1.5vw;
}

.faq_ques {
	font-weight: bold;
	font-size: 1.5vw;
}

/* FIFTH PAGE */

.footer {
	font-size: 2vw;
	color: white;
}

.fifth_title {
	font-size: 4vw;
	margin-bottom: 3vw;
}

.video {
	width: 70vw;
	height: 30vw;
	margin: 3vw auto;
	display: block;
}

.map {
	width: 40vw;
	height: 25vw;
	margin: 0;
	display: block;
}


/* MEDIA */

@media (max-width: 768px) {
	.select_list {
		margin: 1vw 0;
	}

}

@media (min-width: 768px) {
	.choise_model-image {
		height: 6vw;
	}
}

@media (min-width: 1400px) {

	.choise_model-image {
		height: 8vw;
	}

	.first_title {
		font-size: 5vw;
	}
	.second_title {
		font-size: 2.5vw;
	}

	.contact_title {
		font-size: 2.5vw;
	}

	.choise_model-title {
		font-size: 2vw;
	}

	.choise_model-info h4 {
		font-size: 1.3vw;
	}

	.select_title {
		font-size: 3vw;
	}

	.select_list {
		margin: 2vw 0;
	}

	.choise_model-image {
		height: 5vw;
	}

	.choise_model-info div {
		font-size: 1vw;
	}

}

/* ACCORDION SETTINGS */
a:focus,
a:hover,
a:active {
	outline: 0;
	text-decoration: none;
}

.panel {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #fff;
	background: none;
	box-shadow: none;
}

.panel:last-child {
	border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
	border-radius: 4px 4px 0 0;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group .panel + .panel {
	margin-top: 0;
}

.panel-heading {
	background-color: #009688;
	border-radius: 0;
	border: none;
	color: #fff;
	padding: 0;
}

.panel-title {
	background: #AB987A;
}

.panel-title a {
	display: block;
	color: #fff;
	padding: 1.3vw;
	position: relative;
	font-weight: bold;
	font-size: 1.5vw;
}

.panel-body {
	background: #AB987A;
}

.panel:last-child .panel-body {
	border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
	border-radius: 0 0 4px 4px;
	transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
	border-radius: 0;
	transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
	content: '\e146';
	position: absolute;
	font-family: 'Material Icons';
	right: 0.6vw;
	top: 0.8vw;
	font-size: 2vw;
	transition: all 0.5s;
	transform: scale(1);
}

.panel-heading.active a:before {
	content: ' ';
	transition: all 0.5s;
	transform: scale(0);
}

#bs-collapse .panel-heading a:after {
	content: ' ';
	font-size: 24px;
	position: absolute;
	font-family: 'Material Icons';
	right: 5px;
	top: 10px;
	transform: scale(0);
	transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
	content: '\e909';
	transform: scale(1);
	transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
	content: '\e316';
	font-size: 2vw;
	position: absolute;
	font-family: 'Material Icons';
	right: 0.6vw;
	top: 0.8vw;
	transform: rotate(180deg);
	transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
	transform: rotate(0deg);
	transition: all 0.5s;
}
